.animatedscatter .rect {
    border: solid 1px #ccc;
    shape-rendering: crispEdges;
    opacity: 1;
}

.animatedscatter .rect .active {
    opacity: 1;
}

.animatedscatter .x.label, .animatedscatter .y.label {
    font-size: 10px;
    fill: #777;
}

.animatedscatter .axis path,
.animatedscatter .axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.animatedscatter .label {
    font: 500 130px "Helvetica Neue";
    fill: #ddd;
}
.animatedscatter .country.label {
    font: 500 90px "Helvetica Neue";
    fill: #ddd;
}


.animatedscatter > label {
    position: relative;
    top: -6px;
}

.animatedset {
    border: 0;
}

.selected {
  stroke-width: 5px !important;
}

.animatedset label {
    position: relative;
    top: -6px;
}

.g-graphic {
  position: relative;
}

.g-play-button {
  position: absolute;
  top: 15px;
  left: 10px;
  background: #004276;
  padding-right: 26px;
  border-radius: 2px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 68px;
  cursor: pointer;
  height: 30px;
  font: 13px sans-serif;
}

.g-play-button:hover {
  background-color: #064d84;
}

.g-play-button:active {
  background-color: #002657;
}

.g-axis {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  fill: #777;
}

.g-axis .domain {
  fill: none;
  stroke: #fff;
  stroke-width: 8px;
  stroke-linecap: round;
}

.g-axis .tick line {
  stroke: #aaa;
  shape-rendering: crispEdges;
}

.g-axis .g-halo {
  fill: none;
  stroke: #ccc;
  stroke-width: 10px;
  stroke-linecap: round;
}

.g-slider .background {
  cursor: ew-resize !important;
}

.g-slider .g-handle {
  fill: #fff;
  stroke: #777;
  stroke-width: 1.0px;
  pointer-events: none;
}